* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#site-main {

}

#canvas-container {
  
    background-color: white;
    border: 1px solid black;
    width: 150vh;
    height: 100vh;
    margin:auto;
}